<!DOCTYPE html>
<html lang="en">
    <body>
        <p>Hello {{ nickname }}</p>
        <p>You have forgotten your password for your Yoga Class account.</p>
        <p>Your account username is {{ username }}. A temporary security code is generated for you as: {{ security_code }}.</p>
        <p>Please click <a href="https://ide-dc084cfc2ccb423e924259182c059e7e-8080.cs50.ws/resetpw" target="_blank">here</a> to go to the page of resetting your password.
        (If the link does not work, please copy and paste the following link: https://ide-dc084cfc2ccb423e924259182c059e7e-8080.cs50.ws/resetpw</p>

        <p>Please ignore this email if you have no difficulties in logging into your account. Feel free to contact us should you have any problems.</p>

        <p>Regards</p>
        <p>Yoga Class</p>
    </body>
</html>

