{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <p class="h3">About Us</p>
    <p>Our main yoga instructor is Natalie Ho.</p>
    <hr>
    <p class="h5">Qualifications:</p>
    <ul>
        <li>Registered Yoga Teacher (RYT) 200</li>
        <li>Registered Prenatal Yoga Teacher (RPYT) 85</li>
        <li>Singing Bowl Certificate</li>
        <li>Wheel Yoga Certificate</li>
    </ul>
    <hr>
    <p class="h5">Class types:</p>
    <ul>
        <li>Hatha Yoga: For yoga beginner</li>
        <li>Relaxing stretch: For improving flexibility</li>
        <li>Sleeping yoga: For improving sleep quality with the help of singing bowl</li>
        <li>Hatha Yoga: For yoga beginner</li>
        <li>Wheel yoga: For releasing tension and muscular tightness</li>
    </ul>
    <hr>
    <p class="h5">Special classes: We also arrange tailor-made classes for organisations! Participating organisations in the past include:</p>
    <ul>
        <li>A local five-star hotel (For staff)</li>
        <li>A local social service organisation (For staff)</li>
        <li>A local service apartment (For residents)</li>
    </ul>
{% endblock %}