{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
    <h3>Welcome to Yoga Class!</h3>
    <p>We provide yoga classes to individuals and groups - class types include hatha yoga, relaxing stretch, wheel yoga, pre-natal yoga, sleeping yoga, etc.</p>
    <p>Check the class timetable with the link above. To participate, simply create an account, log in, and make bookings!</p>
    <p>We also provide tailor-made yoga classes to organisations such as commercial firms and NGOs. Feel free to contact us for details.</p>
    <p class="font-italic">Remember to read the instructions carefully about payment and booking confirmations.</p>
{% endblock %}